# Files and folders to ignore during the Docker image build

# Local dependencies
node_modules

# Log files
npm-debug.log
*.log

# Docker configuration and documentation files
Dockerfile
docker-compose.yml
README.md

# Version control files and folders
.git
.gitignore

# Editor configuration files
.vscode
# Local WireGuard configuration folder
wireguard-configs-local/
# Local configuration file
locations.local.json