# Ignore the local WireGuard configuration folder
wireguard-configs-local/
# Local environment file
.env
# Local configuration files and folders
locations.local.json
config-local/
# Dependencies
node_modules/
npm-debug.log*