version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: gluetun-switcher
    container_name: Gluetun-switcher
    restart: unless-stopped
    ports:
      # Accédez à l'application via http://localhost:3003
      - "3003:3003"
    environment:
      - WIREGUARD_DIR=/etc/wireguard
      - CONTAINER_TO_RESTART=gluetun,qbittorrent
      - NODE_ENV=production
      - SESSION_SECRET=CHANGE_ME_RANDOM_64_CHARS
      - HTTPS_ENABLED=false
      - PASSWORD_MIN_LENGTH=8
      - PASSWORD_MAX_ATTEMPTS=5
      # Configuration de la carte et géolocalisation
      - GEOLOCATION_API_URL=http://192.168.0.242:8000/v1/publicip/ip
      - MAP_TILE_URL=https://api.maptiler.com/maps/streets/style.json?key=7EhtBt6sltDR0uZ1eMri
    volumes:
      - ./certs:/certs:ro
      # Persistance des données de l'application
      - /volume1/docker/gluetun-switcher/config:/usr/src/app/config
      # --- VOLUME A ADAPTER PAR L'UTILISATEUR ---
      # Montez ici le dossier contenant vos configurations WireGuard de l'hôte.
      - /volume1/docker/gluetun/wireguard:/etc/wireguard

      # Montage du socket Docker pour permettre le redémarrage de conteneurs
      - /var/run/docker.sock:/var/run/docker.sock
